.carousel-container-aman{
    max-width: 600px;
    padding: 10px;
    text-align: center;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-aman {
    width: 100px; 
    height: 100px; 
    border-radius:100%; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .carousel-item-aman{
    height: 290px;
  }
  .name-text{
    color: #1e90ff;
font-weight: bold;
 
font-size: 20px;}
  .job-text{
    font-weight: 400;
  }
  .para-text{
    font-size: 20px;
    line-height: 32px;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .carousel-indicators-tanmay {
    bottom: -50px !important;
}
  .feedback-pagination{
    background-color: #e0e0e0 !important;
  }

.carousel-indicators-tanmay .active{
    background-color: #1e90ff !important;
  }

  @media (max-width:500px) {
    .carouser-inner-tanmay{
      height: 50vh;
    }
    .carousel-container-aman {
      height: 70vh !important;}
  }
  @media (max-width:470px){
    .carousel-indicators-tanmay {
        bottom: -40px !important;
    }
  }
  @media (max-width: 425px) {
    .carousel-item-aman{
        height: 50vh;
      }
      .carousel-container-aman{
        padding: 10% 10px;
        display: block;
      }
      .carousel-indicators-tanmay {
        bottom: -14% !important;
    }
  }

  @media (max-width:367px) {
    .carouser-inner-tanmay {
      height: 55vh !important;
  }
  }

  /* @media (max-width: 333px) {

      .carousel-indicators-tanmay {
        bottom: 15px !important;
    }
  } */


  @media (max-width: 300px) {
    .carousel-container-aman{
        height: 75vh !important;
      }

      .carousel-indicators-tanmay {
        bottom: -40px !important;
    }
    .carouser-inner-tanmay {
      height: 62vh !important;
  }
  }