@tailwind base;
@tailwind components;
@tailwind utilities;



body {
	touch-action:manipulation;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	/* border: 1px solid red; */
    text-decoration: none;
}

